.header-top{
    background-color: black;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    color: white;
    padding: 2rem 0;
}

.btn-warning {
    color: white;
    background-color: orangered;
    border-color: orangered;
}