.header-top{
    background-color: black;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    color: white;
    padding: 2rem 0;
}

.jumbotron-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    color: white;
    padding: 2rem 0;
}

.btn-warning {
    color: white;
    background-color: orangered;
    border-color: orangered;
    border-radius: 2rem;
}

.text-center h6{
    color: blue;
    font-size: .7rem;
}

.text-center p{
    color: gray;
}

.playstation5{
    border-bottom: 1px solid blue;
}

.card{
    --bs-card-border-width: 0px;
    --bs-card-bg: transparent;
     --bs-card-spacer-y: 0rem; 
     --bs-card-spacer-x: 0rem; 
     --bs-card-title-spacer-y: 0.5rem;
}

.card-body h5{
    text-align: center;
    margin-top: 2rem;
    color: gray;
    font-size: 1rem;
    margin-top: 10px;
}

.nuove{
    background-color: black;
}

.nuove h3{
    color: white;
}

.nuove h5{
    color: white;
}

.nuove p{
    color: white;
}